.auction__gallery {
    display: grid;
    gap: 8px; 
    padding: 8px 0 8px 0;
   
}

.auctions__gallery-img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display:block; 
}

.auction__gallery_item, .auctions__gallery-img{
    margin: 0;
    padding: 0;
    border: 0;
}
.auction__gallery_item_1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.auction__gallery_item_2, .auction__gallery_item_3, .auction__gallery_item_4, .auction__gallery_item_5 {
    @media only screen and (max-width:768px) {
        display: none;
        };
}

/* .auction__gallery_item_2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.auction__gallery_item_3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.auction__gallery_item_4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.auction__gallery_item_5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}   */