.header {
background-color:#094067;
display: flex;
align-items: center;
justify-content: center;
padding: 16px;
}

.header__container {
display: flex;
align-items: center;
justify-content: space-between;  
} 

.header__items {
display: flex;
align-items: center;
gap: 32px; 

@media only screen and (max-width:999px) {
    display: none;
}
}

.header__itemLink {
    color: #FFFFFE;
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.175px;
    }

    .header__itemLink:hover {
            text-decoration: solid underline 3px;
    }

.header__arrow {
    background-color: transparent;
    border: none;
}

/* -------------------------------------------------------------------------------- */

.header__menu {
    @media only screen and (min-width:1000px) {
        display: none;
}
}
