.AuctionLiveNow__bid {
display: flex;
flex-direction: column;
/* align-items: center; */
justify-content: stretch;
gap: 16px;
padding: 16px;
}

.AuctionLiveNow__bid_outerCircle {
background-color: #FFF;
filter: drop-shadow(0px 4px 38px rgba(9, 64, 103, 0.64));
padding: 15px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.AuctionLiveNow__bid_innerCircle {
background-color: #FFF;
filter: drop-shadow(0px 4px 38px rgba(9, 64, 103, 0.64));
padding: 15px;
width: 132px;
height: 132px;
border-radius: 50%;
display: flex;
flex-direction: column;
gap: 2px;
align-items: center;
justify-content: center;
}

.AuctionLiveNow__bid_subtitle {
color:#5F6C7B;
/* Subtitle 2 / Roboto / Medium / 14 */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.014px;
}

.AuctionLiveNow__bid_priceTag {
color: #094067;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.024px;
text-align: center;
}

.AuctionLiveNow__bid_buynowButton {
display:inline-block;
padding: 16px;
border-radius: 74px;
color: #FFF;
text-align: center;
/* Subtitle 1 / Roboto / Regular / 16 */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.024px;
border:1px solid #3DA9FC;
background-color: #3DA9FC;
}

.AuctionLiveNow__bid_bidButton {
background-color:#094067;
border-radius: 74px;
border: none;
padding: 16px;
color: #FFF;
text-align: center;
/* Subtitle 1 / Roboto / Regular / 16 */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.024px;
}
.AuctionLiveNow__bid_price {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.AuctionLiveNow__bid_circle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.AuctionLiveNow__bid_price_add, .AuctionLiveNow__bid_price_reduce {
    color: white;
    background-color: #094067;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}

.AuctionLiveNow__price_holder {
padding: 12px;
border-radius: 25px;
background-color: #FFF;
/* Fam Shadow */
box-shadow: 0px 4px 38px 0px rgba(9, 64, 103, 0.12);
}

.AuctionLiveNow__bid_previousBids_header {
border-radius: 16px 16px 0px 0px;
background: #094067;
color: #FFF;
/* Subtitle 1 / Roboto / Regular / 16 */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.024px;
padding: 8px;
}


.AuctionLiveNow__bid_previousBids_body {
display: flex;
gap: 8px;
overflow: scroll;
}

.AuctionLiveNow__bid_previousBids_body_item {
display: flex;
border-radius: 8px;
background: #FFF;
box-shadow: 0px 2px 38px 0px rgba(9, 64, 103, 0.12);
padding: 4px;
gap: 4px;
margin: 4px 0 4px 0;
}

.AuctionLiveNow__bid_previousBids_body_item_img {
    width: auto;
    height: auto;
}