@font-face {
    font-family: "Roboto";
    src: url("./Assets/Fonts/Roboto-Regular.ttf") format("truetype");
}

/* @font-face {
    font-family: "Roboto Bold";
    src: url("./Assets/Fonts/Roboto-Bold.ttf") format("truetype");
} */

.container {
    margin: 0 auto;
    width: 100%; 
    max-width: 1100px;
}