@font-face {
    font-family: "Roboto";
    src: url("./Assets/Fonts/Roboto-Regular.ttf") format("truetype");
}

/* @font-face {
    font-family: "Roboto Bold";
    src: url("./Assets/Fonts/Roboto-Bold.ttf") format("truetype");
} */

section {
    margin-left: 165px;
    margin-right: 165px;

    /* Phone */
@media only screen and (max-width:320px) {
    margin-left: 165px;
    margin-right: 165px;
    };
    /* Tablet */
    @media only screen and (min-width:321px) and (max-width:1000px){
        margin-left: 39px;
        margin-right: 39px;
    };
}